<!-- <div>
  <mat-card *ngFor="let tile of hoteldata" style="background: white; margin-left: 19%;">
    <mat-grid-list cols="4" rowHeight="3:2">
      <mat-grid-tile style="background: lightblue;">
        {{tile.areaName}}
      </mat-grid-tile>
      <mat-grid-tile style="background: lightblue;">
        {{tile.hotelName}}
      </mat-grid-tile>
      <mat-grid-tile style="background: lightgreen;"> 
        {{tile.address}}
      </mat-grid-tile>
      <mat-grid-tile style="background: lightpink;">
        <img src="assets/images/{{tile.image}}">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div> -->






<router-outlet></router-outlet>